@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: theme("fontFamily.sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
  font-feature-settings: theme("fontFamily.sans[1].fontFeatureSettings", normal); /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: theme("fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace); /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
/* input::-moz-placeholder, textarea::-moz-placeholder {
   opacity: 1;
  color: theme("colors.gray.400", #9ca3af);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; 
  color: theme("colors.gray.400", #9ca3af);
} */

/*
Set the default cursor for buttons.
*/
button,
[role=button] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

header {
  flex: none;
  padding: 16px 0px;
}
header .actions {
  display: flex;
  gap: 8px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 32px;
}
header ul a {
  color: #999999;
}
header ul a.active {
  color: #ffffff;
}
header ul button {
  display: none;
}
header .button {
  padding: 8px 16px;
  background: #1e1e1e;
  border-radius: 8px;
}

header .container-button {
  display: flex;
  gap: 16px;
}

header .icon{
  padding: 8px 12px;
  margin-right: 10px;
  border-radius: 8px;
  color:white;
  background: #1e1e1e;
}

@media (max-width: 768px) {
  header ul {
    position: fixed;
    inset: 0;
    flex-direction: column;
    padding: 32px 16px;
    background: #1e1e1e;
    transform: translateX(-100%);
    transition-duration: 0.5s;
  }
  header ul.active {
    transform: translateX(0);
  }
  header ul a,
header ul button {
    display: block;
    font-size: 32px;
    text-align: left;
    color: #999999;
  }
}

.movies ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
}
.movies li {
  padding: 8px 8px 16px;
  background: #1e1e1e;
  border-radius: 16px;
}
.movies img {
  aspect-ratio: 3/4;
  border-radius: 8px;
}
.movies h2 {
  padding: 16px 0 8px;
  font-weight: 500;
}
.movies p {
  max-height: 56px;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999999;
}
.actors ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 32px;
}
.actors li {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
  background: #1e1e1e;
  border-radius: 16px;
}
.actors img {
  width: 128px;
  height: 128px;
  flex: none;
  background: #333333;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.actors h2 {
  font-weight: 500;
}
.actors p {
  padding: 8px 0 0;
  font-size: 12px;
  color: #999999;
}
.pictures ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 32px;
}
.pictures img {
  aspect-ratio: 16/9;
  border-radius: 16px;
}

* {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

main {
  flex: 1 1 0%;
  padding: 64px 0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 32px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login input,
.login button {
  padding: 8px 16px;
  border-radius: 8px;
}

.login input {
  background: #1e1e1e !important;
}

.login button {
  background: #333333;
  font-weight: 500;
  text-align: left;
}

iframe {
  width: 100%;
}

iframe.movie {
  aspect-ratio: 16 / 9;
  margin: 0 0 128px;
}

.actors ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 32px;
}

.actors li {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 16px;
  background: #1e1e1e;
  border-radius: 16px;
}

.actors img {
  width: 128px;
  height: 128px;
  flex: none;
  background: #333333;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.actors h2 {
  font-weight: 500;
}

.actors p {
  padding: 8px 0 0;
  font-size: 12px;
  color: #999999;
}

.movie .head {
  display: flex;
  align-items: center;
  gap: 64px;
}
.movie .head p {
  color: #999999;
}
.movie .head img {
  height: 384px;
  flex: none;
  border-radius: 16px;
}
.movie ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  padding: 128px 0;
  gap: 8px;
}
.movie li {
  font-weight: 500;
  font-size: 24px;
}
.movie .story {
  color: #999999;
}

.comment{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  border: 1px solid #333333;
}


.comments input[type=text]{padding:10px;width:280px;border:1px solid #E7E7E7;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:Arial;}
.comments input[type=text]:hover{background-color:#f8fbff;}
.comments textarea{padding:10px;border:1px solid #E7E7E7;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;height:125px;}
.box-light{padding:25px;color:#333333;margin:10px 0;background:#ffffff;transition:all 0.6s ease 0s;}
	.box-light .box-light{padding:0 35px;}
		.box-light .box-light p{margin:5px 0px;}
	.box-light h2,.box-light h3,.box-light h4{margin:0;padding:0;}
	.box-light h3{margin-top:10px;}
		.box-light h3 a{text-decoration:none;}
	.box-light img{transition:all 0.6s ease 0s;display:block;}
	.box-light:hover{box-shadow:1px 1px 10px #dcdcdc;}
		.box-light .box-light:hover{box-shadow:none;}
	.box-light p{padding:0;}
.letter{background-color:#4C74AD;color:#ffffff;border-radius:50%;width:40px;height:40px;line-height:35px;font-weight:bold;text-align:center;float:left;margin-left:-35px;margin-right:15px;}
	.letter.blue{background-color:#3B689F;}
	.letter.green{background-color:#44A437;}
	.letter.orange{background-color:#ff7537;}
	.letter.purple{background-color:#b99aff;}
	.letter.gray{background-color:#888888;}
	.letter.red{background-color:#DC4739;}
.chapeau{font-size:1em;margin:5px 0;font-weight:bold;}
.gray{color:#888888;}
.red{color:#DC4739;}
.hidden{display:none;}

.comment { margin-bottom: 10px; }
.comment .comment-name { font-weight: bold; }
.comment .comment-date {
	font-style: italic;
	font-size: 0.8em;
}
.comment .reply-btn, .edit-btn { font-size: 0.8em; }
.comment-details p { margin-bottom: 0px; }
.comment-details {
  padding: 8px 16px;
  border-radius: 8px;
}

[name="content"] {
  padding: 8px 16px;
  border-radius: 8px;
  background: #1e1e1e !important;
}

.banner {
  position: absolute;
  top:70px;
  left:0;
  opacity: 0.5;
  background:rgba(0,0,0,0.5);
  z-index: -20;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.addCommentForm {
  padding: 32px 0 128px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-64 {
  padding-bottom: 64px;
}

ul.batman {
  padding: 128px 0;
}

.container.pictures ul {
  padding: 0 0 128px;
}